
.button{
    width: 100px;
    background-color: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 25px;
    padding: 10px;
    color: rgb(5, 5, 32);
    font-size: 12px;
    font-weight: 600;
    flex-shrink: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 480px){
    .button{
        font-size: 10px;
        width: 82px;
    }
}