
.wrapper{
    display: flex;
    flex-direction: column;

}

.user_wrapper{
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.user_photo{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 10px;
}

.user_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.user_name{
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 8px;

}

.title{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
}

.link{
    text-decoration: none;
    color: rgb(5, 5, 32);
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 480px){
    .user_photo{
        width: 35px;
        height: 35px;
        flex-shrink: 0;
        margin-right: 15px;
    }
    .user_name{
        font-size: 10px;
        margin-right: 15px;

    }
}

