
.wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.title{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
}