
.wrapper{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.side{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px 20px 0 0;
}