
.comment{
    font-size: 16px;
    text-align: start;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.span_user{
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.comment_wrapper{
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.comment_photo{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.comment_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
}
.comment_author{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}