.hidden{
    display: none
}

.active{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1)
}

.modal__content{
    width: 95%;
    background-color:  #daf5cb;
    display: flex;
    flex-direction: row;
    color: darkslategray;
    border-radius: 3px;
    border: 1px solid  #daf5cb;
    position: relative;
    font-size: 16px;
}

.modal__text{
    padding: 40px;
    font-size: 18px;

}

.photo_post{
    width: 65%;
    height: auto;
    text-align: left;
}

.photo_post img{
    width: 100%;
    height: 100%;
}
