.wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.post_feed{
    margin: 0 auto;
    padding: 20px;

}

.post_photo{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.post_photo img{
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}



.block_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.post_photo:hover img {
    opacity: 0.7;
}

.post_photo:hover .block_overlay{
    opacity: 1;
}

.icons_container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon_container{
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-align: center;
    align-items: center;
}

.icon{
    width: 22px;
    height: 22px;
    padding-right: 5px;
}

.icon svg{
    width: 100%;
    height: 100%;
    fill: white;
}



