
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;

}

.card_wrapper{
    margin-bottom: 15px;
}

.post_photo{
    width: 80%;
    height: 70%;
    margin-bottom: 20px;
}

.post_photo img{
    width: 100%;
    height: 100%;
}

.icon_like{
    width: 40px;
    height: 40px;
    padding: 15px;
    background-color: white;

}

.icon_like svg{
    width: 100%;
    height: 100%;
    background-color: white;

}

.active{
    fill: red;
}

.post_header{
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}

.name{
    padding: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: center;

}

.comment_wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    margin-bottom: 30px;
    width: 80%;
}

.button_wrapper{
    margin-bottom: 30px;
    background-color: white;
    text-align: center;
}

.textarea{
    width: 80%;
    height: 50px;
    resize: none;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
}

.user_photo{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 30px;
}

.user_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-size:cover;
}

.user_name{
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 30px;

}