
.wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;
}

.endMessage{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}